<h1 style="
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
">| Australian Vehicle Price Prediction</h1>
This is a Machine Learning task for the students of BFCAI.

Dataset link: https://www.kaggle.com/datasets/nelgiriyewithana/australian-vehicle-prices/

The main objective of this task is to train a model to predict a vehicle price given some features about the vehicle.

<h4 style="
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
">| Team members</h4>

Write team member names (**double click to edit**)
1. (first student)
2. (second student)
3. (third student)
4. etc.

<h1 style="
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
">| Reading dataset</h1>

In [ ]:
import pandas as pd

In [ ]:
# reading dataset
data = pd.read_csv(
    'Australian Vehicle Prices.csv',
    na_values=['POA', '-', '- / -'],
)

# For simplicity, we drop the columns with too many categorical values
data.drop(columns=['Brand', 'Model', 'Car/Suv', 'Title', 'ColourExtInt', 'Location'], inplace=True)

data.head()

,Year,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,CylindersinEngine,BodyType,Doors,Seats,Price
0,2022.0,DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595.0,4 cyl,SUV,4 Doors,7 Seats,51990.0
1,2022.0,USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16.0,4 cyl,Hatchback,5 Doors,5 Seats,19990.0
2,2022.0,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472.0,4 cyl,Coupe,2 Doors,4 Seats,108988.0
3,2011.0,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517.0,8 cyl,Coupe,2 Doors,4 Seats,32990.0
4,2022.0,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035.0,4 cyl,SUV,4 Doors,5 Seats,34990.0

<h1 style="
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
">| Using Regular Expressions (Regex)</h1>
We use regex to extract numbers from the following columns: `Engine`, `FuelConsumption`, `CylindersinEngine`, `Doors`, and `Seats`.

Run the cells below.

In [ ]:
# Helper function to extract numbers from string columns
def extract_number(data: 'pd.DataFrame', 
                  col: 'str', 
                  pattern: 'str') -> 'pd.Series':
    '''

    Extracts a number using the given regex pattern from the given data and col, 
    converts the result to float, and returns the result as a pd.Series.
    '''

    return data[col].str.extract(pattern, expand=False).astype('float32')

In [ ]:
# We use the previous hepler function to extract numbers from string columns
data['Engine'] = extract_number(data, col='Engine', pattern=r'.*?(\d+\.?\d*) L')
data['FuelConsumption'] = extract_number(data, col='FuelConsumption', pattern=r'(\d+\.?\d*) L.*')
data['CylindersinEngine'] = extract_number(data, col='CylindersinEngine', pattern=r'(\d+) (?:cyl|L)')
data['Doors'] = extract_number(data, col='Doors', pattern=r'(\d+) Doors')
data['Seats'] = extract_number(data, col='Seats', pattern=r'(\d+) Seats')

data.head()

,Year,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,CylindersinEngine,BodyType,Doors,Seats,Price
0,2022.0,DEMO,Automatic,2.2,AWD,Diesel,8.7,5595.0,4.0,SUV,4.0,7.0,51990.0
1,2022.0,USED,Automatic,1.5,Front,Premium,6.7,16.0,4.0,Hatchback,5.0,5.0,19990.0
2,2022.0,USED,Automatic,2.0,Rear,Premium,6.6,8472.0,4.0,Coupe,2.0,4.0,108988.0
3,2011.0,USED,Automatic,5.5,Rear,Premium,11.0,136517.0,8.0,Coupe,2.0,4.0,32990.0
4,2022.0,USED,Automatic,1.3,Front,Unleaded,6.0,1035.0,4.0,SUV,4.0,5.0,34990.0

<h1 style="
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
">| Data Analysis</h1>

Examine the dataset and answer the following questions:
1. How many samples and features does this dataset contain?
2. What is the target column?
3. What is the data type of each column?
4. Which columns are numeric? Which columns are categorical?
5. Does this dataset contain missing values?

In [ ]:
# Write your analysis code here
# Feel free to create as many cells as you want
# Number of Samples And Features 
samples , features = data.shape
print("Number of samples: ", samples)
print("Number of features: ", features)

Number of samples:  16734
Number of features:  13

In [ ]:
# Select Target Column
target_column = data['Price']
print("Target column: ", target_column)

Target column:  0         51990.0
1         19990.0
2        108988.0
3         32990.0
4         34990.0
           ...
16729     29500.0
16730     39888.0
16731     35280.0
16732     41888.0
16733     65888.0
Name: Price, Length: 16734, dtype: float64

In [ ]:
# Display data types for each column
data.dtypes

Year                 float64
UsedOrNew             object
Transmission          object
Engine               float32
DriveType             object
FuelType              object
FuelConsumption      float32
Kilometres           float64
CylindersinEngine    float32
BodyType              object
Doors                float32
Seats                float32
Price                float64
dtype: object

In [ ]:
# select which column are categorical or numerical
# Display data types for each column
numeric_columns = data.select_dtypes(include=['number']).columns
categorical_columns = data.select_dtypes(include=['object']).columns
print("Numeric columns:")
print(numeric_columns)
print("Categorical columns:")
print(categorical_columns)

Numeric columns:
Index(['Year', 'Engine', 'FuelConsumption', 'Kilometres', 'CylindersinEngine',
       'Doors', 'Seats', 'Price'],
      dtype='object')
Categorical columns:
Index(['UsedOrNew', 'Transmission', 'DriveType', 'FuelType', 'BodyType'], dtype='object')

In [ ]:
# check missing values 
print("\nPercentage of Missing values in each Feature")
print(data.isnull().sum()/len(data)*100)

Percentage of Missing values in each Feature
Year                  0.005976
UsedOrNew             0.005976
Transmission          1.505916
Engine               10.015537
DriveType             0.005976
FuelType              3.812597
FuelConsumption      10.147006
Kilometres            3.537708
CylindersinEngine    10.009561
BodyType              1.685192
Doors                10.009561
Seats                10.188837
Price                 0.316720
dtype: float64

<h1 style="
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
">| Data Cleaning</h1>

Remove missing values (if any)

In [ ]:
# Remove missing values here
clean_data=data.dropna()

In [ ]:
# shape of data after remove missing values
clean_data.shape

(14283, 13)

In [ ]:
# percentage of data removed 
100-(clean_data.shape[0]/data.shape[0]*100)

14.646826819648624

<h1 style="
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
">| Data Encoding</h1>

Convert the categorical features to numeric

In [ ]:
#'UsedOrNew', 'Transmission', 'DriveType', 'FuelType', 'BodyType
print(clean_data['Transmission'].unique())
print(clean_data['DriveType'].unique())
print(clean_data['FuelType'].unique())
print(clean_data['BodyType'].unique())
print(clean_data['UsedOrNew'].unique())

['Automatic' 'Manual']
['AWD' 'Front' 'Rear' '4WD' 'Other']
['Diesel' 'Premium' 'Unleaded' 'Hybrid' 'Electric' 'LPG' 'Leaded']
['SUV' 'Hatchback' 'Coupe' 'Commercial' 'Ute / Tray' 'Sedan'
 'People Mover' 'Convertible' 'Wagon' 'Other']
['DEMO' 'USED' 'NEW']

In [ ]:
data_encoded = clean_data.replace({
    'UsedOrNew' : {'DEMO':0 , 'USED': 1, 'NEW':2},
    'Transmission' : {'Automatic':1 , 'Manual': 0},
    'DriveType' : {'AWD':0 , 'Front': 1,'Rear':2,'4WD':3, 'Other':4},
    'FuelType' : {'Diesel':0 , 'Premium': 1,'Unleaded':2,'Hybrid':3, 'Electric':4,'LPG':5,'Leaded':6},
    'BodyType' : {'SUV':0 , 'Hatchback': 1,'Coupe':2,'Commercial':3, 'Ute / Tray':4,'Sedan':5,'People Mover':6,'Convertible':7,'Wagon':8,'Other':9},
})

data_encoded.head(10)

,Year,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,CylindersinEngine,BodyType,Doors,Seats,Price
0,2022.0,0,1,2.2,0,0,8.7,5595.0,4.0,0,4.0,7.0,51990.0
1,2022.0,1,1,1.5,1,1,6.7,16.0,4.0,1,5.0,5.0,19990.0
2,2022.0,1,1,2.0,2,1,6.6,8472.0,4.0,2,2.0,4.0,108988.0
3,2011.0,1,1,5.5,2,1,11.0,136517.0,8.0,2,2.0,4.0,32990.0
4,2022.0,1,1,1.3,1,2,6.0,1035.0,4.0,0,4.0,5.0,34990.0
6,2017.0,1,1,2.0,0,0,5.1,67662.0,4.0,0,2.0,4.0,62280.0
7,2000.0,1,1,1.6,1,2,8.0,300539.0,4.0,1,5.0,5.0,2995.0
8,2013.0,1,1,2.0,2,1,7.1,82012.0,4.0,2,2.0,4.0,24888.0
9,2014.0,1,1,1.3,1,3,4.5,38229.0,4.0,1,5.0,5.0,17900.0
11,2018.0,1,1,2.7,2,2,9.8,16324.0,4.0,3,4.0,2.0,41999.0

In [ ]:
# Perform one-hot encoding for selected features
data_encoded = pd.get_dummies(data_encoded, columns=['Transmission'], prefix=['Transmission'])

# Ensure that 'UsedOrNew' encoding is not changed
data_encoded['UsedOrNew'] = clean_data['UsedOrNew'].map({'DEMO': 0, 'USED': 1, 'NEW': 2})

# Display the updated DataFrame
# print(data_encoded.head())
data_encoded.shape[0]

     Year  UsedOrNew  Engine  FuelConsumption  Kilometres  CylindersinEngine  \
0  2022.0          0     2.2              8.7      5595.0                4.0
1  2022.0          1     1.5              6.7        16.0                4.0
2  2022.0          1     2.0              6.6      8472.0                4.0
3  2011.0          1     5.5             11.0    136517.0                8.0
4  2022.0          1     1.3              6.0      1035.0                4.0

   Doors  Seats     Price  Transmission_0  ...  BodyType_0  BodyType_1  \
0    4.0    7.0   51990.0           False  ...        True       False
1    5.0    5.0   19990.0           False  ...       False        True
2    2.0    4.0  108988.0           False  ...       False       False
3    2.0    4.0   32990.0           False  ...       False       False
4    4.0    5.0   34990.0           False  ...        True       False

   BodyType_2  BodyType_3  BodyType_4  BodyType_5  BodyType_6  BodyType_7  \
0       False       False       False       False       False       False
1       False       False       False       False       False       False
2        True       False       False       False       False       False
3        True       False       False       False       False       False
4       False       False       False       False       False       False

   BodyType_8  BodyType_9
0       False       False
1       False       False
2       False       False
3       False       False
4       False       False

[5 rows x 33 columns]

<h1 style="
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
">| Data Splitting</h1>

Split the dataset into
- Input and output
- Training and test sets

In [ ]:
# Split the dataset to input and output
data_input = data_encoded.drop(columns=['Price'])
data_output= data_encoded['Price']
print(data_input.shape)
print(data_output.shape)

(14283, 32)
(14283,)

In [ ]:
# Split the input and output to training and test sets
from sklearn.model_selection import train_test_split
# test size is 20% of the dataset
x,x_test,y,y_test = train_test_split(data_input, data_output, 
                                     test_size=0.2, 
                                     random_state=42)

# train size is 80% of the dataset
x_train,x_val,y_train,y_val = train_test_split(x, y, 
                                               test_size=0.2,
                                               random_state=42)
print(x_train.shape)
print(y_train.shape)
print('-'*20)
print(x_val.shape)
print(y_val.shape)
print('-'*20)
print(x_test.shape)
print(y_test.shape)

(9140, 32)
(9140,)
--------------------
(2286, 32)
(2286,)
--------------------
(2857, 32)
(2857,)

<h1 style="
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
">| Linear Regression</h1>

Train a linear regression model and calculate its $R^2$ (r2_score) for training and test sets

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# Create a linear regression model
model = LinearRegression()

# Train the model
model.fit(x_train, y_train)

# Make predictions for training and test sets
y_train_pred = model.predict(x_train)
y_val_pred = model.predict(x_val)
y_test_pred = model.predict(x_test)

# Calculate r2_score for training and test sets
r2_train = r2_score(y_train, y_train_pred)
r2_val = r2_score(y_val, y_val_pred)
r2_test = r2_score(y_test, y_test_pred)

print("R2 Score - Training Set:", r2_train)
print("R2 Score - Validation Set:", r2_val)
print("R2 Score - Test Set:", r2_test)

R2 Score - Training Set: 0.5733805709042183
R2 Score - Validation Set: 0.5085154293034462
R2 Score - Test Set: 0.501364528759054

Answer the following questions:
1. What is the $R^2$ value for the training set?
2. What is the $R^2$ value for the test set?
3. Does this model overfit the training set? Why/why not?
4. Does this model underfit the training set? Why/why not?